@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: darkslategray;

}

h1{
    color : white;
    font-size: 2rem;
    font: bold Helvetica;
    text-align: center;
}